<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../static/intro_index.css" />
    <script src = "{{url_for('static',filename='js/intro_index.js')}}"></script>
    

    </script>
  </head>
  <body>
    <h1>Projects</h1>
    <div id="main_intro">
      <h3 style="margin-bottom: 3rem">1.모델</h3>

      <div class="models">
        <a href="/page/regression">가상화폐가격예측모델(다중선형회귀)</a>
        <br />
        <a href="">쇼핑 리뷰 분석 모델(자연어처리 with.kiwi)</a>
      </div>

      <div id="gifTest">
        <h2> 이 모델 정확도의 진실을 아는 사람 : ☠ 🥵🥵 ☠</h2>
        <img src="../static/neuron-activation.gif" />
      </br> 
      <h3>와! 정말 정확한 모델이야!! 데단해!!<img src="../static/omedeto.jpg" style="width: 13rem"/></h3>
      </div>

    </div>
  </body>
</html>
